html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
}


#backgroundDiv{
    position: absolute;
    width:calc(100vw);
    height: calc(100vh);
    background-image: url('/static/img/finnSignature_fingers.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}


#welcome{
    font-size: 5em;
    float: left;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    opacity: 0;
}

#welcomeWords{
    box-shadow: 0 0 20px gray;
    border-radius: 10px;
    font-family: cursive;
}



/* for front-end logo */
#info{
    width: 200px;
    height: 200px;
    margin: 10% 0 0 25%;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent 50%, rgba(255,255,255, 0.3));
    float: left;

}

#paintingFrame{
    width: 218px;
    height:218px;
    position: absolute;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent 50%, rgba(255,255,255, 0.3));
}

#brush{
    width: 120px;
    height: 120px;
    position: absolute;
    transform-origin: top left;
}

#hiddenBorder{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position:relative;
}
#viewPicture{
    width: 200px;
    height: 200px;
    opacity: 1;
    position: absolute;
}


#viewCover{
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
}

#viewCover_small{
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
}

/* for back-end logo */
#skills{
    width: 200px;
    height: 200px;
    /* background-color: red; */
    background-image: url('/static/img/heart.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-reflect: below -5px -webkit-linear-gradient(transparent 0%, rgba(255,255,255, 0.9));
    opacity: 1;
    margin: 10% 25% 0 0;
    float: right;

}

/* for 'other' logo (from google)*/
#trangle{
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color: #FF9600 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 20px;
}


#logout_login{
    position:absolute;
    right: calc(2vh);
    top: calc(2vh);
    border: none;
    background: none;
    font-family: cursive;

}