html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
}

#bigInfo{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


/********************************************************** Background Setting ********************************************************************/
#nightBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: radial-gradient(circle at bottom,  rgb(40, 85, 97, 0.8), rgb(19, 48, 56, 0.8), rgb(0, 0, 0)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(11, 49, 61), rgb(17, 68, 83));
    z-index: 0;
    overflow: hidden;
    border: none;
}

/* star */
@keyframes flashing {
    from {
        opacity: 1.0;
    }
    50%{
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
    
}

@-webkit-keyframes flashing {
    from {
        opacity: 1.0;
    }
    50%{
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
    
}


/* pointer */
@keyframes circling {
    from {
        opacity: 1.0;
        width: calc(0.1vh);
        height: calc(0.1vh);
    }
    20% {
        opacity: 0.8;
        width: calc(0.2vh);
        height: calc(0.2vh);
    }
    40% {
        opacity: 0.6;
        width: calc(0.4vh);
        height: calc(0.4vh);
    }
    60% {
        opacity: 0.4;
        width: calc(0.8vh);
        height: calc(0.8vh);
    }
    80% {
        opacity: 0.2;
        width: calc(1.6vh);
        height: calc(1.6vh);
    }
    to {
        opacity: 0;
        width: calc(0vh);
        height: calc(0vh);
    }
    
}

@-webkit-keyframes circling {
    from {
        opacity: 1.0;
        width: calc(0.1vh);
        height: calc(0.1vh);
    }
    20% {
        opacity: 0.8;
        width: calc(0.2vh);
        height: calc(0.2vh);
    }
    40% {
        opacity: 0.6;
        width: calc(0.4vh);
        height: calc(0.4vh);
    }
    60% {
        opacity: 0.4;
        width: calc(0.8vh);
        height: calc(0.8vh);
    }
    80% {
        opacity: 0.2;
        width: calc(1.6vh);
        height: calc(1.6vh);
    }
    to {
        opacity: 0;
        width: calc(0vh);
        height: calc(0vh);
    }
    
}


/********************************************************** Display Area ********************************************************************/
/* basic part */
#basicDetail{
    position: absolute;
    width: 30%;
    background-color: rgb(80, 80, 80, 0.5);
    border-radius: 10px;
    color:aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    left: calc(10vw);
    top: calc(5vh);
    opacity: 0;
    border: none;
    z-index: 0;
}





/* education */
#educationShow{
    position: absolute;
    width: 50%;
    background-color: rgb(80, 80, 80, 0.5);
    font-size: 1.2em;
    border-radius: 10px;
    color:aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    top: calc(5vh);
    left: calc(45vw);
    opacity: 0;
    border: none;
    z-index: 0;
}


#eduTable{
    width: 100%;
    border: none;
}



/* work part */
#workDetail{
    position: absolute;
    width: 40%;
    /* height: 25%; */
    font-size: 1.2em;
    background-color: rgb(80, 80, 80, 0.5);
    border-radius: 10px;
    color: aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    top: calc(30vh);
    left: calc(45vw);
    opacity: 0;
    border: none;
    z-index: 0;
}

#workTabel{
    width: 100%;
    border: none;
}



/* skills part */
#skillsBasic{
    position: absolute;
    background-color: rgb(80, 80, 80, 0.5);
    font-size: 1.2em;
    width: 30%;
    z-index: 92;
    border-radius: 10px;
    color:aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    top: calc(52vh);
    left: calc(45vw);
    opacity: 0;
    border: none;
    z-index: 0;
}



/* title part */
#titleDetail{
    position: absolute;
    width:12%;
    background-color: rgb(80, 80, 80, 0.5);
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    left: calc(20vw);
    top: calc(55vh);
    opacity: 0;
    border: none;
    z-index: 0;
}

#developerImg{
    border-radius: 50%;
    height: 60%;
    width:60%;
    margin:10% 0 10% 0;
    border: none;
}

#position_basic{
    font-size: 1.2em;
    font-weight: 500;
    border: none;
}

#job_basic{
    font-size: 1.2em;
    font-weight: 500;
    border: none;
} 



/********************************************************** Nav area ********************************************************************/
.ball{
    cursor:pointer;
    border: none;
}



#ballArea{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}


#earth{
    position: absolute;
    height: calc(100vh);
    width: calc(100vh);
    top: calc(60vh);
    left: calc(100vw - 40vh);
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 30px rgb(118, 225, 252) ;
    z-index: 101;
    font-family:cursive;
}

#currentName{
    position: absolute;
    height: calc(10vh);
    width: calc(30vh);
    top: calc(90vh);
    left: calc(100vw - 30vh);
    z-index: 101;
    font-family:cursive;
    color: aliceblue;
    font-size: 2em;
    opacity: 0;
}

#titleBtn{
    position: absolute;
    height: calc(20vh);    /*  !!  */
    width: calc(20vh);    /*  !!  */
    top: calc(90vh);    /*  !!  */
    left: calc(100vw - 95vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(20vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 5em;    /*  !!  */
    font-weight: 500;
    z-index: 100;
    font-family:cursive;
} 


#basicBtn{
    position: absolute;
    height: calc(10vh);    /*  !!  */
    width: calc(10vh);    /*  !!  */
    top: calc(80vh);    /*  !!  */
    left: calc(100vw - 75vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(10vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 3em;    /*  !!  */
    font-weight: 500;
    z-index: 99;
    font-family:cursive;
}


#eduBtn{
    position: absolute;
    height: calc(6vh);    /*  !!  */
    width: calc(6vh);    /*  !!  */
    top: calc(75vh);    /*  !!  */
    left: calc(100vw - 60vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(6vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 2em;    /*  !!  */
    font-weight: 500;
    z-index: 98;
    font-family:cursive;
}


#skillBtn{
    position: absolute;
    height: calc(3vh);    /*  !!  */
    width: calc(3vh);    /*  !!  */
    top: calc(73vh);    /*  !!  */
    left: calc(100vw - 47vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(3vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 1em;    /*  !!  */
    font-weight: 500;
    z-index: 97;
    font-family:cursive;
}


#workBtn{
    position: absolute;
    height: calc(2vh);    /*  !!  */
    width: calc(2vh);    /*  !!  */
    top: calc(71.2vh);    /*  !!  */
    left: calc(100vw - 35vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(2vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 0.5em;    /*  !!  */
    font-weight: 500;
    z-index: 96;
    font-family:cursive;
}


#allBtn{
    position: absolute;
    height: calc(1.5vh);    /*  !!  */
    width: calc(1.5vh);    /*  !!  */
    top: calc(70vh);    /*  !!  */
    left: calc(100vw - 25vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(1.5vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 0.3em;    /*  !!  */
    font-weight: 500;
    z-index: 95;
    font-family:cursive;
}


#nothingBtn{
    position: absolute;
    height: calc(1vh);    /*  !!  */
    width: calc(1vh);    /*  !!  */
    top: calc(69.5vh);    /*  !!  */
    left: calc(100vw - 15vh);    /*  !!  */
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(1vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 0.1em;    /*  !!  */
    font-weight: 500;
    z-index: 94;
    font-family:cursive;
}



/********************************************************** Return Button ********************************************************************/
#returnBtn{
    position: absolute;
    height: calc(2.5vh);    
    width: calc(2.5vh);    
    top: calc(2.5vh);  
    left: calc(97.5vw);
    border-radius: 50%;
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;
    z-index: 2;
    animation: spin 20s infinite linear;
    -webkit-animation: spin 20s infinite linear;
    transform-origin: center;
    /* animation-play-state: paused;
    animation-delay: -1s; */
    border: none;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}