html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
}

#bigInfo{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


/********************************************************** Background Setting ********************************************************************/
#nightBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: radial-gradient(circle at bottom,  rgb(40, 85, 97, 0.8), rgb(19, 48, 56, 0.8), rgb(0, 0, 0)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(11, 49, 61), rgb(17, 68, 83));
    z-index: 0;
    overflow: hidden;
}


@keyframes flashing {
    from {
        opacity: 1.0;
    }
    50%{
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
    
}

@-webkit-keyframes flashing {
    from {
        opacity: 1.0;
    }
    50%{
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
    
}


/********************************************************** Display Area ********************************************************************/

/* title part */
#titleDetail{
    position: absolute;
    width:12%;
    /* height: 40%; */
    background-color: rgb(80, 80, 80, 0.5);
    text-align: center;
    /* margin: 0% 0% 0% 0%; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    left: calc(10vw);
    top: calc(55vh);
}

#developerImg{
    border-radius: 50%;
    height: 60%;
    width:60%;
    margin:10% 0 10% 0;
}

#position_basic{
    font-size: 1.2em;
    font-weight: 500;
}

#job_basic{
    font-size: 1.2em;
    font-weight: 500;
} 

/* work part */
#workDetail{
    position: absolute;
    width: 50%;
    /* height: 25%; */
    font-size: 1.2em;
    background-color: rgb(80, 80, 80, 0.5);
    margin: 0% 0% 0% 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    top: calc(5vh);
    left: calc(45vw);
}

/* basic part */
#basicDetail{
    position: absolute;
    width: 30%;
    /* height: 100%; */
    background-color: rgb(80, 80, 80, 0.5);
    margin: 0% 0% 0% 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color:aliceblue;
    font-family:cursive;
    padding: 0.5% 0.5% 0.5% 0.5%;
    left: calc(10vw);
    top: calc(5vh);
}




/********************************************************** Nav area ********************************************************************/
#ballArea{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}


#earth{
    position: absolute;
    height: calc(100vh);
    width: calc(100vh);
    z-index: 100;
    top: calc(60vh);
    left: calc(100vw - 40vh);
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 30px rgb(118, 225, 252) ;
    z-index: 101;
    font-family:cursive;
}


#titleBtn{
    position: absolute;
    height: calc(20vh);    /*  !!  */
    width: calc(20vh);    /*  !!  */
    top: calc(90vh);    /*  !!  */
    left: calc(100vw - 95vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(20vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 5em;    /*  !!  */
    font-weight: 500;
    z-index: 100;
    font-family:cursive;
} 


#basicBtn{
    position: absolute;
    height: calc(10vh);    /*  !!  */
    width: calc(10vh);    /*  !!  */
    top: calc(80vh);    /*  !!  */
    left: calc(100vw - 75vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(10vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 3em;    /*  !!  */
    font-weight: 500;
    z-index: 99;
    font-family:cursive;
}


#eduBtn{
    position: absolute;
    height: calc(6vh);    /*  !!  */
    width: calc(6vh);    /*  !!  */
    top: calc(75vh);    /*  !!  */
    left: calc(100vw - 60vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(6vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 2em;    /*  !!  */
    font-weight: 500;
    z-index: 98;
    font-family:cursive;
}


#skillBtn{
    position: absolute;
    height: calc(3vh);    /*  !!  */
    width: calc(3vh);    /*  !!  */
    top: calc(73vh);    /*  !!  */
    left: calc(100vw - 47vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(3vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 1em;    /*  !!  */
    font-weight: 500;
    z-index: 97;
    font-family:cursive;
}


#workBtn{
    position: absolute;
    height: calc(2vh);    /*  !!  */
    width: calc(2vh);    /*  !!  */
    top: calc(71.2vh);    /*  !!  */
    left: calc(100vw - 35vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(2vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 0.5em;    /*  !!  */
    font-weight: 500;
    z-index: 96;
    font-family:cursive;
}


#allBtn{
    position: absolute;
    height: calc(1.5vh);    /*  !!  */
    width: calc(1.5vh);    /*  !!  */
    top: calc(70vh);    /*  !!  */
    left: calc(100vw - 25vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(1.5vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 0.3em;    /*  !!  */
    font-weight: 500;
    z-index: 95;
    font-family:cursive;
}


#nothingBtn{
    position: absolute;
    height: calc(1vh);    /*  !!  */
    width: calc(1vh);    /*  !!  */
    top: calc(69.5vh);    /*  !!  */
    left: calc(100vw - 15vh);    /*  !!  */
    border-top-left-radius: calc(60vh);
    border-top-right-radius: calc(60vh);
    border-bottom-left-radius: calc(60vh);
    border-bottom-right-radius: calc(60vh);
    background: radial-gradient(circle at center,  rgba(195, 213, 218), rgb(19, 48, 56), rgb(0, 0, 0));
    box-shadow: 0 0 10px rgb(118, 225, 252) ;    /*  !!  */
    text-align: center;
    line-height: calc(1vh);    /*  !!  */
    color: rgb(255, 245, 245, 0.5);
    font-size: 0.1em;    /*  !!  */
    font-weight: 500;
    z-index: 94;
    font-family:cursive;
}



/********************************************************** Nav area ********************************************************************/
/* #titlePart{
    width: 25%;
    height: 40%;
    background-color: white;
    margin: 0%;
    z-index: 98;
} */


/* #titleDetail{
    background-color: rgb(80, 80, 80, 0.5);
    text-align: center;
    margin: 0% 0% 0% 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
} */

/* #developerImg{
    border-radius: 50%;
    height: 60%;
    width:60%;
    margin:10% 0 10% 0;
}


#position_basic{
    font-size: 1.2em;
    font-weight: 500;
}

#job_basic{
    font-size: 1.2em;
    font-weight: 500;
}  */




/********************************* #5 ********************************/
/* #basicPart{
    width: 25%;
    height: 40%;
    background-color: white;
    margin: 0;
    z-index: 96;
    font-size: 1em;

} */

/* #basicDetail{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 80, 80, 0.5);
    margin: 0% 0% 0% 0%;
    padding: 1% 1% 1% 1%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 96;
} */




/********************************* #7 ********************************/
#eduPart{
    width: 50%;
    height: 25%;
    background-color: white;
    /* float: left; */
    margin: 0;
    /* overflow: hidden; */
}

#educationShow{
    background-color: rgb(80, 80, 80, 0.5);
    /* float: left; */
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    margin: 0% 0% 0% 0%;
    z-index: 94;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}


#edTable{
    width: 100%;
    height: 40%;
    margin: 3% 0 3% 0;
    background-color: rgb(80, 80, 80, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}





/********************************* #9 ********************************/
#skillPart{
    width: 50%;
    height: 25%;
    background-color: white;
    /* float: right; */
    margin: 0;

}

#skillsBasic{
    background-color: rgb(80, 80, 80, 0.5);
    /* float: right; */
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    margin: 0% 0% 0% 0%;
    z-index: 92;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}




/********************************* #11 ********************************/
/* #workPart{
    width: 50%;
    height: 20%;
    background-color: white;
    margin: 0;
}


#workDetail{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    background-color: rgb(80, 80, 80, 0.5);
    margin: 0% 0% 0% 0%;
    z-index: 90;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
} */