html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
}

#bigInfo{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



/********************************* #1 ********************************/
#centrePart{
    width: 25%;
    height: 20%;
    text-align: center;
    float: left;
    margin: 0;
    z-index: 100;
}

#startButton{
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    line-height: 100px;
}

#centreText{
    color: white;
    font-size: 2em;
}




/********************************* #2 ********************************/
#line_cu{
    width: 25%;
    height: 40%;
    float: left;
    margin: 0;
    background-color: white;
    z-index: 99;

}


/********************************* #3 ********************************/
#titlePart{
    width: 25%;
    height: 40%;
    background-color: white;
    float: left;
    margin: 0%;
    overflow: hidden;
    z-index: 98;

}


#titleDetail{
    width:50%;
    background-color: rgb(80, 80, 80, 0.5);
    text-align: center;
    float:right;
    margin: 0% -50% 0% 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#developerImg{
    border-radius: 50%;
    height: 60%;
    width:60%;
    margin:10% 0 10% 0;
}


#position_basic{
    font-size: 1.2em;
    font-weight: 500;
}

#job_basic{
    font-size: 1.2em;
    font-weight: 500;
} 


/********************************* #4 ********************************/
#line_lc{
    width: 25%;
    height: 20%;
    float: left;
    margin: 0;
    z-index: 97;

}


/********************************* #5 ********************************/
#basicPart{
    width: 25%;
    height: 40%;
    background-color: white;
    float: left;
    margin: 0;
    z-index: 96;
    font-size: 1em;
    overflow: hidden;

}

#basicDetail{
    width: 100%;
    height: 100%;
    background-color: rgb(80, 80, 80, 0.5);
    float: left;
    margin: -100% 0% 0% 0%;
    padding: 1% 1% 1% 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 96;
}

/********************************* #6 ********************************/
#line_cd{
    width: 25%;
    height: 40%;
    float: left;
    margin: 0;
    z-index: 95;

}


/********************************* #7 ********************************/
#eduPart{
    width: 50%;
    height: 25%;
    background-color: white;
    float: left;
    margin: 0;
    overflow: hidden;
}

#educationShow{
    background-color: rgb(80, 80, 80, 0.5);
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    margin: 0% 0% 0% -100%;
    z-index: 94;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}


#edTable{
    width: 100%;
    height: 40%;
    margin: 3% 0 3% 0;
    background-color: rgb(80, 80, 80, 0.5);
    border-radius: 10px;
}



/********************************* #8 ********************************/
#line_rc2{
    width: 50%;
    height: 15%;
    float: right;
    margin: 0;
    z-index: 93;
}



/********************************* #9 ********************************/
#skillPart{
    width: 50%;
    height: 25%;
    background-color: white;
    float: right;
    margin: 0;
    overflow: hidden;
}

#skillsBasic{
    background-color: rgb(80, 80, 80, 0.5);
    float: right;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    margin: 25% 0% 0% 0%;
    z-index: 92;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}



/********************************* #10 ********************************/
#line_rc1{
    width: 50%;
    height: 15%;
    float: right; 
    margin: 0;
    z-index: 91;
}




/********************************* #11 ********************************/
#workPart{
    width: 50%;
    height: 20%;
    background-color: white;
    float: left;
    margin: 0;
    overflow: hidden;
}


#workDetail{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    background-color: rgb(80, 80, 80, 0.5);
    margin: 25% 0% 0% 0%;
    z-index: 90;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}