html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#bigSkills{
    height: 100%;
    width: 100%;
}

/* skill basic information */
#skillsInfo{
    position: absolute;
    padding: 0;
    width: calc(50vw);
    height: calc(50vh);
    /* background-color: red; */
}

/* skill collection */
#skillsCollection{
    position: absolute;
    padding: 0;
    width: calc(50vw);
    height: calc(50vh);
    /* background-color: gray; */
    left:calc(50vw);
}

.colTable{
    text-align: center;
    width: calc(50vw);
    border-spacing: 0px;
    border-collapse: collapse;
}

.colTr{
    box-sizing: border-box;
    table-layout: fixed;
    display: table;
    width: calc(48vw);    
}


.colTBody{
    display: block;
    width: calc(50vw); /* calc(100%+8px)    这里的8px是滚动条的宽度*/
    height: calc(48vh);   /* vh 等于 1% 的 视窗高度， vw 等于 1% 的 视窗宽度， 注意这里的运算符前后都必须要有空格！！！*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    scrollbar-width: calc(2vw);    
}





/* skill circle distribution */
#skillsDistirbution{
    position: absolute;
    padding: 0;
    width: calc(50vw);
    height: calc(45vh);
    /* background-color: green; */
    top:calc(50vh);
}


/* skill bar detail distribution */
#skillsDetail{
    position: absolute;
    padding: 0;
    width: calc(50vw);
    height: calc(45vh);
    /* background-color: yellow; */
    left:calc(50vw);
    top:calc(50vh);
}


/* returnBtn_skill */
#returnBtn_skill{
    position: absolute;
    padding: 0;
    width: calc(100vw);
    height: calc(5vh);
    background-color: cyan;
    top:calc(95vh);
    border: none;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}











/* #skillsInfo{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    background-color: red;
    float:left;
}

#skillsCollection{
    
}

#skillsDistirbution{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    background-color: green;
    float:left;
}

#skillsDetail{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    background-color: yellow;
    float:left;
} */