<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <link rel="Shortcut Icon" href="../static/img/icoimg.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/home.css')}}" />
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/myLib.js"></script>

    <title>home page</title>
</head>

<body>


    <div id="welcome">
        <span id="welcomeWords">&nbsp Welcome to Finn's World! &nbsp</span>
    </div>

    <a href="/information">
        <div id="info">
            <img id="paintingFrame" src="../static/img/paintingFrame.png" />
            <div id="hiddenBorder">
                <img id="viewPicture" src="../static/img/personalPhoto.png" />
                <div id="viewCover"></div>
                <div id="viewCover_small"></div>
                <img id="brush" src="../static/img/paint_brush_1.png" />
            </div>
        </div>
    </a>


    <a href="/skills">
        <div id="skills">

        </div>
    </a>

    <button id="logout_login">Log Out</button>
    
    <div id="backgroundDiv"></div>
  

    <script type="text/javascript">
        $(function(){
            var urlPath = 'http://127.0.0.1:5000'; 

            var welcome = $("#welcome");
            var logout_login = $('#logout_login');
            
            // for info logo----------------------------------------------------------------------------------------------------------
            var info = $("#info");
            var paintingFrame = $("#paintingFrame");
            var hiddenBorder = $("#hiddenBorder");
            var viewPicture = $("#viewPicture");
            var viewCover = $("#viewCover");
            var viewCover_small = $("#viewCover_small");
            var brush = $("#brush");
            var welcome = $("#welcome");
            var borderTop = hiddenBorder.offset().top;
            var borderLeft = hiddenBorder.offset().left;
            var borderHeight = hiddenBorder.height();
            var borderWidth = hiddenBorder.width();
            var viewCoverTop = borderTop + borderHeight
            var positionMarker = hiddenBorder.height();
            var topMove = 0;
            var shakeFlag = 0;

            // for skills logo--------------------------------------------------------------------------------------------------------------
            var skills = $('#skills');
            var marginOrigin = 600; //  must equal tp the corresponding number of css file
            var shadowDistance = -5; // must equal tp the corresponding number of css file(next to 'below')
            var shadowArea = 0; // must equal tp the corresponding number of css file(next to 'transparent')
            var shadowConcentration = 0.9; // must equal tp the corresponding number of css file(in the rgb bracket)
            var breathNum = 0; // for control the breath direction
            var breathEndshakeInterval_b = null;



            // $(window).on("unload", function() { 
            //     $.closeWin(urlPath, "logout")
            // })




            // main part
            paintingFrame.css({"left": (borderLeft-8) + "px", "top": (borderTop-10) +"px"});



            welcome.animate({"opacity":"1"}, 2000)


            info.mouseenter(function(){
                const stepConstant = 10;
                const invervalNum = 2000;
                infoDropInterval_f = null;
                topMove += stepConstant;
                viewCover.css({"top":topMove +"px" })
                viewCover_small.animate({"left": borderWidth + "px"},invervalNum-50, function(){
                    viewCover_small.css({"left": "0px", "top":topMove +"px"})
                    viewCover.css({"top":(topMove+stepConstant) +"px" })
                })
                brush.animate({"left": (borderWidth) + "px"},invervalNum-50, function(){
                    brush.css({"left": "0px", "top": topMove +"px"})
                });

                paintInterval = setInterval(function(){
                    if(shakeFlag == 0){
                        brush.css({'transform':'rotate(0deg)'});
                        shakeFlag = 1;
                    }else{
                        brush.css({'transform':'rotate(10deg)'});
                        shakeFlag = 0;
                    }
                },100)

                infoDropInterval_f = setInterval(function(){
                    topMove += stepConstant;
                    
                    if(positionMarker > 0){
                        viewCover_small.animate({"left": borderWidth + "px"},invervalNum-50, function(){
                            viewCover_small.css({"left": "0px", "top":topMove +"px"})
                            viewCover.css({"top":(topMove+stepConstant) +"px" })
                        })
                        brush.animate({"left": (borderWidth) + "px"},invervalNum-50, function(){
                            brush.css({"left": 0+"px", "top": topMove +"px"})
                        })
                    }else{
                        topMove = 0;
                        positionMarker = hiddenBorder.height();
                        viewCover.css({"left": "0px", "top":"0px" });
                        viewCover_small.css({"left": "0px", "top":"0px"});
                        brush.css({"left": "0px", "top": "0px"})
                        viewCover_small.animate({"left": borderWidth + "px"},invervalNum-50, function(){
                            viewCover_small.css({"left": "0px", "top":topMove +"px"})
                            viewCover.css({"top":(topMove+stepConstant) +"px" })
                        });
                        // brush.animate({"left": (borderWidth) + "px"},invervalNum-50, function(){
                        //     brush.css({"left": "0px", "top": topMove +"px"})
                        // });
                    };
                    
                    positionMarker -= stepConstant;
                }, invervalNum)
            });

            info.mouseleave(function(){
                clearInterval(infoDropInterval_f);
                clearInterval(paintInterval);
                topMove = 0;
                positionMarker = hiddenBorder.height();
                setTimeout(function(){
                    viewCover.css({"left": "0px", "top":"0px" });
                    viewCover_small.css({"left": "0px", "top":"0px"});
                },500)
            })


            
            

            // breath version===================================================
            // skills.mouseenter(function(){
            //     breathNum = 0
            //     skills.animate({"opacity":0.1, "width":195 + "px", "height":195 + "px"},900, function(){breathNum = 1});
            //     breathEndshakeInterval_b = setInterval(function(){
            //         if(breathNum == 0){
            //             skills.animate({"opacity":0.1, "width":195 + "px", "height":195 + "px"},900, function(){
            //             breathNum = 1
            //             })  // the value of "opacity" must be greater than 0, otherwise mouseover will invalid
            //         }else if(breathNum == 1){
            //             skills.animate({"opacity":1, "width":200 + "px", "height":200 + "px"},900, function(){
            //             breathNum = 0
            //             })  
            //         }
            //     },1000)  // the number of position of '900' must be less than that of '1000'
            // });
            //=================================================== breath version


            // heart version===================================================
            skills.mouseenter(function(){
                let breathNum = 0;
                let amplitudeHeart = 20;
                let amplitudeHeart_second = 15;
                let normalSize = 200;
                let shrinkSize = 195;
                let breathFrequency = 1000;

                skills.animate({"opacity":0.1, "width":shrinkSize + "px", "height":shrinkSize + "px"},(breathFrequency-100), function(){breathNum = 1});
                breathEndshakeInterval_b = setInterval(function(){
                    if(breathNum == 0){
                        skills.animate({"opacity":0.1, "width":shrinkSize + "px", "height":shrinkSize + "px"},(breathFrequency-100), function(){  // No.5
                        breathNum = 1
                        })  // the value of "opacity" must be greater than 0, otherwise mouseover will invalid
                    }else if(breathNum == 1){
                        skills.animate({"opacity":1, "width":normalSize + "px", "height":normalSize + "px"},500, function(){ //No.0
                            skills.animate({"width":(normalSize+amplitudeHeart) + "px", "height":(normalSize+amplitudeHeart) + "px"},100,function(){ //No.1
                                skills.css({"width":normalSize + "px", "height":normalSize + "px"})
                                setTimeout(function(){
                                    skills.animate({"width":(normalSize+amplitudeHeart_second) + "px", "height":(normalSize+amplitudeHeart_second) + "px"},100,function(){  //No.2
                                        skills.animate({"width":normalSize + "px", "height":normalSize + "px"},100,function(){  //No.3
                                            breathNum = 0
                                        })                                  
                                    })
                                },100)  //No.4
                            // !! the value of complete time usage shoul be like this:  (No.5 == No.0 + No.1 + No.2 + No.3 + No.4) && (No.0 == No.1 + No.2 + No.3 + No.4)
                            })    
                        })  
                    }
                },breathFrequency)  // the number of position of '900' must be less than that of '1000'
            });
            //=================================================== heart version

            skills.mouseleave(function(){
                clearInterval(breathEndshakeInterval_b);
                setTimeout(function(){
                    skills.css({"opacity":1, "width":"200px", "height":"200px"});
                },500)
                
            });
            

            skills.click(function(){
                let backInterval = setInterval(function(){
                    if(marginOrigin >= 0){
                        marginOrigin -= 600/200;
                        shadowDistance += 600/200;
                        shadowArea += 50/200;
                        shadowConcentration -= 0.9/200
                        skills.css({
                            "margin": marginOrigin + "px 0 0 200px",
                            "-webkit-box-reflect": "below " + shadowDistance + "px -webkit-linear-gradient(transparent " + shadowArea + "%, rgba(255,255,255, " + shadowConcentration + "))",
                        })
                    }else{
                        clearInterval(backInterval)
                    }
                },10)
                
            });
            
            
            logout_login.click(function(){
                $.logoutCommand(urlPath, "logout")
            });



        })

    </script>

  
</body>
</html>