<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <link rel="Shortcut Icon" href="/static/img/icoimg.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/information.css')}}" />
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/myLib.js"></script>
    <title>information page</title>
    
    <style>
      



    </style>



</head>
<body>
    
    <div id="bigInfo">
        <!-- #3 -->
        <div id="titlePart">
            <div id="titleDetail">
                <img id="developerImg" src="../static/img/developerImage.jpg" alt="Developer"/>
                <hr class="seperate_title"/>
                <span id="position_basic">{{job_basic[0]}} </span><br/>
                <span id="job_basic">{{job_basic[1]}} </span>
            </div>

        </div>


         <!-- #2 -->
        <canvas id="line_cu"></canvas>


        <!-- #11 -->
        <div id="workPart">
            <div id="workDisplay">
                <table id="workTabel">
                    <tbody id="workBody">
                        <tr>
                            <th>{{workInfo[0]["workCompany"]}}</th><th>{{workInfo[0]["workDate"]}}</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{workInfo[0]["workPosition"]}}</td>
                        </tr>
                        {% for item in workInfo[0]["workDescription"] %}
                        <tr>
                            <td colspan="2">{{item}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example" id="workNav">
                <ul class="pagination">
                    <li class="workOri">
                        <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                    </li>

                    {% for item in workInfo %}
                    <li class="workPageItem">
                        <a class="page-link" href="#">{{item["id"]}}</a>
                    </li>
                    {% endfor %}
                    
                    <li class="workOri">
                        <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                    </li>
                </ul>
            </nav>

        </div>




        <canvas id = "line_rc1">

        </canvas>



        <div id = "skillPart">
            <div id="skillsBasic">
                <table id="skillsTable">
                    {% for item_1 in skillsInfo %}
                    <tr>
                        <th>{{item_1[0]}}</th>
                        <td>
                        {% for item_2 in item_1[1] %}
                        {{item_2}}.
                        {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>



        <!-- #4-->
        <canvas id = "line_lc"></canvas>



        <!-- #1 -->
        <div id = "centrePart">
            <div class = "spinner-grow text-primary" role = "status" id = "startButton"></div>
        </div>


        
        <canvas id = "line_rc2">

        </canvas>




        <!-- #5 -->
        <div id = "basicPart">
            <div id="basicDetail">
                <h5>Basic Information</h5>
                <!-- <a href={{link_basic[0]}} target="_blank"><span id = "linkedin">LinkedIn</span></a> -->           <!-- target="_blank" can make link opened by a new window(blank)   -->
                <!-- <a href={{link_basic[0]}} target="_blank"><span id = "github">GitHub</span></a> -->               <!-- target="_blank" can make link opened by a new window(blank)   -->
                <div id="textPart">
                    <table >
                        {% for item_t in text_basic %}
                        <tr><th>{{item_t[0]}}</th><td>{{item_t[1]}}</td></tr>
                        {% endfor%}
                    </table>
                </div>
                
                <hr class = "seperate_title"/>
                
                <div id="summaryPart">
                    <h5>Summary</h5>
                    <ul>
                        {% for item_s in summary_basic %}
                        <li>{{item_s[1]}}</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

        </div>


        <!-- #6 -->
        <canvas id = "line_cd"></canvas>




        <!-- #7 -->
        <div id="eduPart">
            <div id="educationShow">
                <table id="eduTable">
                    <tbody id="eduBody">
                        <tr>
                            <th><h3>{{educationDicList[0]["uni"]}}</h3></th>
                            <th style="text-align: right;"><h3>{{educationDicList[0]["date"]}}</h3></th>
                        </tr>
                        <tr>
                            <td colSpan="2">{{educationDicList[0]["degree"]}}</td>
                        </tr>
                        <tr>
                            <td colSpan="2">{{educationDicList[0]["major"]}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <nav aria-label="Page navigation example" id="eduNav">
                    <ul class="pagination">
                        <li class="eduOri">
                            <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                        </li>

                        {% for item in educationDicList %}
                        <li class="eduPageItem">
                            <a class="page-link" href="#">{{item["id"]}}</a>
                        </li>
                        {% endfor %}
                        
                        <li class="eduOri">
                            <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>


    </div>


    


    <script type = "text/javascript">
        $(function(){
            var urlPath = 'http://127.0.0.1:5000'; 
            var winWidth = $(window).width();
            var winHeight = $(window).height();
            var isDraw = true;


            // #1
            var startButton = $('#startButton');

            // #2
            var line_cu = $('#line_cu');
            var line_cu_dom = line_cu[0];
            var ctx_cu = line_cu_dom.getContext('2d');

            // #3
            var titleDetail =  $('#titleDetail');

            // #4
            var line_lc = $('#line_lc');
            var line_lc_dom = line_lc[0];
            var ctx_lc = line_lc_dom.getContext('2d');

            // #5 basic part


            // #6 line_cd
            var line_cd = $('#line_cd');
            var line_cd_dom = line_cd[0];
            var ctx_cd = line_cd_dom.getContext('2d');
            

            // #7 educ
            var eduNavs = $('#eduNav a');
            var eduCurrentFlag = 1;
            var totalEdus = parseInt($('.eduPageItem').children().eq(-1).html());

            

            // #8 rc1

            

            // #9 skills



            //#10 rc2


            // #11 workpart
            var workNavs = $('#workNav a');
            var workCurrentFlag = 1;
            var totalWorks = parseInt($('.workPageItem').children().eq(-1).html());






            // 调整titledetail的位置，方便后边动态出现的时候平稳平移
            const title_detail_h = $('#titleDetail').height();
            const title_part_h = $('#titlePart').height();
            const title_detail_w = $('#titleDetail').width();
            $('#titleDetail').css({margin: (title_part_h - title_detail_h) + "px -" + title_detail_w + "px 0 0"});  // 这里用绝对值定位，因为百分比在这里目前没有搞懂为什么无法精准控制



            // 1-6:  start the trip
            startButton.click(function(){
                if(isDraw){
                    isDraw = false;
                    $.dyLine_start(ctx_cu, 150, 150, ctx_lc, 225, 0, ctx_cd, 0, 90);  //如果不重新定义canvas的尺寸大小， 所有canvas默认的像素 宽高都是 300:150，所以这里可以直接按照这个数字去定位
                }
            });

            
            // 7: edu part change page
            eduNavs.click(function(){
                let pageText_edu = $(this).html(); 

                if(pageText_edu == "«"){
                    if(eduCurrentFlag > 1){
                        eduCurrentFlag -= 1
                        $.changeEduPage(urlPath, eduCurrentFlag)
                    }
                }else if(pageText_edu == "»"){
                    if(eduCurrentFlag < totalEdus){
                        eduCurrentFlag += 1
                        $.changeEduPage(urlPath, eduCurrentFlag)
                    }
                }else{
                    eduCurrentFlag = parseInt(pageText_edu)
                    $.changeEduPage(urlPath, eduCurrentFlag)
                }
            });


            // 11: work part change page
            workNavs.click(function(){
                let pageText_work = $(this).html(); 

                if(pageText_work == "«"){
                    if(workCurrentFlag > 1){
                        workCurrentFlag -= 1
                        $.changeWorkPage(urlPath, workCurrentFlag)
                    }
                }else if(pageText_work == "»"){
                    if(workCurrentFlag < totalWorks){
                        workCurrentFlag += 1
                        $.changeWorkPage(urlPath, workCurrentFlag)
                    }
                }else{
                    workCurrentFlag = parseInt(pageText_work)
                    $.changeWorkPage(urlPath, workCurrentFlag)
                }
            });


        })
    </script>
    
</body>
</html>