<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <link rel="Shortcut Icon" href="/static/img/icoimg.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/information.css')}}" />
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/myLib.js"></script>
    <title>information page</title>

</head>
<body>
    
    <div id="bigInfo">
        
        <div id = "nightBackground"></div>

        
        <div id="basicDetail">
            <h5>Basic Information</h5>
            <a href={{link_basic[0]}} target="_blank"><span id = "linkedin">LinkedIn</span></a>           
            <a href={{link_basic[0]}} target="_blank"><span id = "github">GitHub</span></a>               
            <div id="textPart">
                <table >
                    {% for item_t in text_basic %}
                    <tr><th>{{item_t[0]}}</th><td>{{item_t[1]}}</td></tr>
                    {% endfor%}
                </table>
            </div>
            
            <hr class = "seperate_title"/>
            
            <div id="summaryPart">
                <h5>Summary</h5>
                <ul>
                    {% for item_s in summary_basic %}
                    <li>{{item_s[1]}}</li>
                    {% endfor%}
                </ul>
            </div>
        </div>


        <div id="educationShow">
            <div id="eduDisplay">
                <table id="eduTable">
                    <tbody id="eduBody">
                        <tr>
                            <th>{{educationDicList[0]["uni"]}}</th>
                            <th id="eduDate">{{educationDicList[0]["date"]}}</th>
                        </tr>
                        <tr>
                            <td colSpan="2">{{educationDicList[0]["degree"]}}</td>
                        </tr>
                        <tr>
                            <td colSpan="2"><li>{{educationDicList[0]["major"]}}</li></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example" id="eduNav">
                <ul class="pagination">
                    <li class="eduOri">
                        <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                    </li>

                    {% for item in educationDicList %}
                    <li class="eduPageItem">
                        <a class="page-link" href="#">{{item["id"]}}</a>
                    </li>
                    {% endfor %}
                    
                    <li class="eduOri">
                        <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>


        <div id="workDetail">
            <div id="workDisplay">
                <table id="workTabel">
                    <tbody id="workBody">
                        <tr>
                            <th>{{workInfo[0]["workCompany"]}}</th><th id="wkDate">{{workInfo[0]["workDate"]}}</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{workInfo[0]["workPosition"]}}</td>
                        </tr>
                        {% for item in workInfo[0]["workDescription"] %}
                        <tr>
                            <td colspan="2"><li>{{item}}</li></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example" id="workNav">
                <ul class="pagination">
                    <li class="workOri">
                        <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                    </li>

                    {% for item in workInfo %}
                    <li class="workPageItem">
                        <a class="page-link" href="#">{{item["id"]}}</a>
                    </li>
                    {% endfor %}
                    
                    <li class="workOri">
                        <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>



        <div id="skillsBasic">
            <table id="skillsTable">
                <tbody>
                    {% for item_1 in skillsInfo %}
                    <tr>
                        <th>{{item_1[0]}}</th>
                        <td>
                        {% for item_2 in item_1[1] %}
                        {{item_2}}.
                        {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



        <div id="titleDetail">
            <img id="developerImg" src="../static/img/developerImage.jpg" alt="Developer"/>
            <hr class="seperate_title"/>
            <span id="position_basic">{{job_basic[0]}} </span><br/>
            <span id="job_basic">{{job_basic[1]}} </span>
        </div>


        <div id="ballArea">
            <div id = "titleBtn" name="1" class="ball">T</div>
            <div id = "basicBtn" name="2" class="ball">B</div>
            <div id = "eduBtn" name="3" class="ball">E</div>
            <div id = "skillBtn" name="4" class="ball">S</div>
            <div id = "workBtn" name="5" class="ball">W</div>
            <div id = "allBtn" name="6" class="ball">A</div>
            <div id = "nothingBtn" name="7" class="ball">N</div>
            <div id = "earth" ></div>
            <!-- don't put it into earth div because that will cause the currentName inherit the parent's css(especially width and height) -->
            <span id = "currentName"></span>  
        </div>


        <a href = "/home" id = "returnLink">   <!-- "/home" -->
            <img id = "returnBtn" src = "/static/img/blackhole2.png"/>
        </a>

    </div>




    <script type = "text/javascript">
        $(function(){
            var urlPath = 'http://127.0.0.1:5000'; 
            var winWidth = $(window).width();
            var winHeight = $(window).height();
            var isBall = true;
            var btnShowMatchDict = {"titleBtn":["titleDetail","Title"], "basicBtn":["basicDetail","Basic Information"], "eduBtn":["educationShow","Education"], "skillBtn":["skillsBasic","Skills"], "workBtn":["workDetail","Work Exp"]};
            var returnBtn = $('#returnBtn');


            $.deployStars(200, winWidth, winHeight)

            // returnBtn
            returnBtn.mouseenter(function(){
                returnBtn.css({"animation": "spin 1s infinite linear", "-webkit-animation": "spin 1s infinite linear"})
            });

            returnBtn.mouseleave(function(){
                returnBtn.css({"animation": "spin 20s infinite linear", "-webkit-animation": "spin 20s infinite linear"})
            });

  
            // education part
            var eduNavs = $('#eduNav a');
            var eduCurrentFlag = 1;
            var totalEdus = parseInt($('.eduPageItem').children().eq(-1).html());

            // edu change page
            eduNavs.click(function(){
                let pageText_edu = $(this).html(); 

                if(pageText_edu == "«"){
                    if(eduCurrentFlag > 1){
                        eduCurrentFlag -= 1
                        $.changeEduPage(urlPath, eduCurrentFlag)
                    }
                }else if(pageText_edu == "»"){
                    if(eduCurrentFlag < totalEdus){
                        eduCurrentFlag += 1
                        $.changeEduPage(urlPath, eduCurrentFlag)
                    }
                }else{
                    eduCurrentFlag = parseInt(pageText_edu)
                    $.changeEduPage(urlPath, eduCurrentFlag)
                }
            });




            // workpart
            var workNavs = $('#workNav a');
            var workCurrentFlag = 1;
            var totalWorks = parseInt($('.workPageItem').children().eq(-1).html());

            // work change page
            workNavs.click(function(){
                let pageText_work = $(this).html(); 

                if(pageText_work == "«"){
                    if(workCurrentFlag > 1){
                        workCurrentFlag -= 1
                        $.changeWorkPage(urlPath, workCurrentFlag)
                    }
                }else if(pageText_work == "»"){
                    if(workCurrentFlag < totalWorks){
                        workCurrentFlag += 1
                        $.changeWorkPage(urlPath, workCurrentFlag)
                    }
                }else{
                    workCurrentFlag = parseInt(pageText_work)
                    $.changeWorkPage(urlPath, workCurrentFlag)
                }
            });


//ball area ***********************************************************************
            var ballArea = $('#ballArea');
            var runTime = 1500;
            var runPause = 200;

            // titleBtn
            var height_1 = $('#titleBtn').height();
            var width_1 = $('#titleBtn').width();
            var top_1 = $('#titleBtn').offset().top;
            var left_1 = $('#titleBtn').offset().left;

            // basicBtn
            var height_2 = $('#basicBtn').height();
            var width_2 = $('#basicBtn').width();
            var top_2 = $('#basicBtn').offset().top;
            var left_2 = $('#basicBtn').offset().left;

            // eduBtn
            var height_3 = $('#eduBtn').height();
            var width_3 = $('#eduBtn').width();
            var top_3 = $('#eduBtn').offset().top;
            var left_3 = $('#eduBtn').offset().left;

            // skillBtn
            var height_4 = $('#skillBtn').height();
            var width_4 = $('#skillBtn').width();
            var top_4 = $('#skillBtn').offset().top;
            var left_4 = $('#skillBtn').offset().left;

            // workBtn
            var height_5 = $('#workBtn').height();
            var width_5 = $('#workBtn').width();
            var top_5 = $('#workBtn').offset().top;
            var left_5 = $('#workBtn').offset().left;

            // allBtn
            var height_6 = $('#allBtn').height();
            var width_6 = $('#allBtn').width();
            var top_6 = $('#allBtn').offset().top;
            var left_6 = $('#allBtn').offset().left;

            // allBtn
            var height_7 = $('#nothingBtn').height();
            var width_7 = $('#nothingBtn').width();
            var top_7 = $('#nothingBtn').offset().top;
            var left_7 = $('#nothingBtn').offset().left;

            var ballPositionDict = [
                {"height": height_1*2 + "px", "width": width_1*2 + "px", "top": winHeight + "px", "left": left_1*0.8 + "px", "font-size": "10em", "line-height": height_1*2 + "px"},
                {"height": height_1 + "px", "width": width_1 + "px", "top": top_1 + "px", "left": left_1 + "px", "font-size": "5em", "line-height": height_1 + "px"},
                {"height": height_2 + "px", "width": width_2 + "px", "top": top_2 + "px", "left": left_2 + "px", "font-size": "3em", "line-height": height_2 + "px"},
                {"height": height_3 + "px", "width": width_3 + "px", "top": top_3 + "px", "left": left_3 + "px", "font-size": "2em", "line-height": height_3 + "px"},
                {"height": height_4 + "px", "width": width_4 + "px", "top": top_4 + "px", "left": left_4 + "px", "font-size": "1em", "line-height": height_4 + "px"},
                {"height": height_5 + "px", "width": width_5 + "px", "top": top_5 + "px", "left": left_5 + "px", "font-size": "0.5em", "line-height": height_5 + "px"},
                {"height": height_6 + "px", "width": width_6 + "px", "top": top_6 + "px", "left": left_6 + "px", "font-size": "0.3em", "line-height": height_6 + "px"},
                {"height": height_7 + "px", "width": width_7 + "px", "top": top_7 + "px", "left": left_7 + "px", "font-size": "0.1em", "line-height": height_7 + "px"},         
            ];

            ballArea.click(function(e){
                const clickTarget = e.target.getAttribute("id");
                if(isBall && clickTarget != "ballArea" && clickTarget != "currentName" && clickTarget != "earth"){
                    isBall = false;  // to prevent double click 
                    const targetEle_name = parseInt(e.target.getAttribute("name"));
                    $.runBall(ballPositionDict, runTime, clickTarget, targetEle_name, btnShowMatchDict);
                    let runTimeFlag = 0;
                    if(targetEle_name > 1){
                        const runTimer = setInterval(function(){
                            let finalFlag = targetEle_name - 1 - runTimeFlag;
                            if(runTimeFlag < targetEle_name-2 && targetEle_name-2 >= 0){
                                $.runBall(ballPositionDict, runTime, clickTarget, finalFlag, btnShowMatchDict);
                                runTimeFlag += 1; 
                            }else if(runTimeFlag == targetEle_name-2 && targetEle_name-2 >= 0){
                                $.runBall(ballPositionDict, runTime, clickTarget, finalFlag, btnShowMatchDict);
                                runTimeFlag = 0;
                                clearInterval(runTimer);
                                isBall = true;
                            }
                        }, runTime+runPause)
                    }else{
                        const runOut = setTimeout(function(){
                            isBall = true;   // to recover the click access
                        }, runTime+runPause)
                    }                
                };
            })



//*********************************************************************** ball area

        })
    </script>
    
</body>
</html>