<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <link rel="Shortcut Icon" href="/static/img/icoimg.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/information.css')}}" />
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/myLib.js"></script>
    <title>information page</title>

</head>
<body>
    
    <div id="bigInfo">
        
        <div id = "nightBackground">
            <!-- <div id = "yaoGuang"></div>
            <div id = "kaiYang"></div>
            <div id = "yuHeng"></div>
            <div id = "tianQuan"></div>
            <div id = "tianJi"></div>
            <div id = "tianXuan"></div>
            <div id = "tianShu"></div>
            <div id = "north"></div> -->

{t:0, b:1, e:2, s:3:, w:4, a:5, n:6}!!!!!!!!!!!!!!


            <div id = "nothingBtn">
                <span>N</span>
            </div>


            <div id = "allBtn">
                <span>A</span>
            </div>

            <div id = "workBtn">
                <span>W</span>
            </div>

            <div id = "skillBtn">
                <span>S</span>
            </div>

            <div id = "eduBtn">
                <span>E</span>
            </div>
            
            <div id = "basicBtn">
                <span>B</span>
            </div>

            <div id = "titleBtn">
                <span>T</span>
            </div>
            
            <di id = "earth"></di>
        </div>


        <!-- <div id="titlePart">
            <div id="titleDetail">
                <img id="developerImg" src="../static/img/developerImage.jpg" alt="Developer"/>
                <hr class="seperate_title"/>
                <span id="position_basic">{{job_basic[0]}} </span><br/>
                <span id="job_basic">{{job_basic[1]}} </span>
            </div>
        </div>


        <div id="workPart">
            <div id="workDetail">
                <div id="workDisplay">
                    <table id="workTabel">
                        <tbody id="workBody">
                            <tr>
                                <th>{{workInfo[0]["workCompany"]}}</th><th>{{workInfo[0]["workDate"]}}</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{workInfo[0]["workPosition"]}}</td>
                            </tr>
                            {% for item in workInfo[0]["workDescription"] %}
                            <tr>
                                <td colspan="2">{{item}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example" id="workNav">
                    <ul class="pagination">
                        <li class="workOri">
                            <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                        </li>

                        {% for item in workInfo %}
                        <li class="workPageItem">
                            <a class="page-link" href="#">{{item["id"]}}</a>
                        </li>
                        {% endfor %}
                        
                        <li class="workOri">
                            <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        
        <div id = "skillPart">
            <div id="skillsBasic">
                <table id="skillsTable">
                    <tbody>
                        {% for item_1 in skillsInfo %}
                        <tr>
                            <th>{{item_1[0]}}</th>
                            <td>
                            {% for item_2 in item_1[1] %}
                            {{item_2}}.
                            {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <div id = "basicPart">
            <div id="basicDetail">
                <h5>Basic Information</h5>
                <a href={{link_basic[0]}} target="_blank"><span id = "linkedin">LinkedIn</span></a>           
                <a href={{link_basic[0]}} target="_blank"><span id = "github">GitHub</span></a>               
                <div id="textPart">
                    <table >
                        {% for item_t in text_basic %}
                        <tr><th>{{item_t[0]}}</th><td>{{item_t[1]}}</td></tr>
                        {% endfor%}
                    </table>
                </div>
                
                <hr class = "seperate_title"/>
                
                <div id="summaryPart">
                    <h5>Summary</h5>
                    <ul>
                        {% for item_s in summary_basic %}
                        <li>{{item_s[1]}}</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

        </div>



        <div id="eduPart">
            <div id="educationShow">
                <table id="eduTable">
                    <tbody id="eduBody">
                        <tr>
                            <th><h3>{{educationDicList[0]["uni"]}}</h3></th>
                            <th style="text-align: right;"><h3>{{educationDicList[0]["date"]}}</h3></th>
                        </tr>
                        <tr>
                            <td colSpan="2">{{educationDicList[0]["degree"]}}</td>
                        </tr>
                        <tr>
                            <td colSpan="2">{{educationDicList[0]["major"]}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <nav aria-label="Page navigation example" id="eduNav">
                    <ul class="pagination">
                        <li class="eduOri">
                            <a class="page-link" href="#" aria-label="Previous">&laquo;</a>
                        </li>

                        {% for item in educationDicList %}
                        <li class="eduPageItem">
                            <a class="page-link" href="#">{{item["id"]}}</a>
                        </li>
                        {% endfor %}
                        
                        <li class="eduOri">
                            <a class="page-link" href="#" aria-label="Next">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div> -->


    </div>




    <script type = "text/javascript">
        $(function(){
            var urlPath = 'http://127.0.0.1:5000'; 
            var winWidth = $(window).width();
            var winHeight = $(window).height();
            var isDraw = true;

            $.deployStars(200, winWidth, winHeight)

            var titleBtn = $('#titleBtn');
            titleBtn.click(function(){

            })




            // // #7 educ
            // var eduNavs = $('#eduNav a');
            // var eduCurrentFlag = 1;
            // var totalEdus = parseInt($('.eduPageItem').children().eq(-1).html());


            // // #11 workpart
            // var workNavs = $('#workNav a');
            // var workCurrentFlag = 1;
            // var totalWorks = parseInt($('.workPageItem').children().eq(-1).html());




            // eduNavs.click(function(){
            //     let pageText_edu = $(this).html(); 

            //     if(pageText_edu == "«"){
            //         if(eduCurrentFlag > 1){
            //             eduCurrentFlag -= 1
            //             $.changeEduPage(urlPath, eduCurrentFlag)
            //         }
            //     }else if(pageText_edu == "»"){
            //         if(eduCurrentFlag < totalEdus){
            //             eduCurrentFlag += 1
            //             $.changeEduPage(urlPath, eduCurrentFlag)
            //         }
            //     }else{
            //         eduCurrentFlag = parseInt(pageText_edu)
            //         $.changeEduPage(urlPath, eduCurrentFlag)
            //     }
            // });


            // // 11: work part change page
            // workNavs.click(function(){
            //     let pageText_work = $(this).html(); 

            //     if(pageText_work == "«"){
            //         if(workCurrentFlag > 1){
            //             workCurrentFlag -= 1
            //             $.changeWorkPage(urlPath, workCurrentFlag)
            //         }
            //     }else if(pageText_work == "»"){
            //         if(workCurrentFlag < totalWorks){
            //             workCurrentFlag += 1
            //             $.changeWorkPage(urlPath, workCurrentFlag)
            //         }
            //     }else{
            //         workCurrentFlag = parseInt(pageText_work)
            //         $.changeWorkPage(urlPath, workCurrentFlag)
            //     }
            // });


        })
    </script>
    
</body>
</html>