<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <link rel="Shortcut Icon" href="../static/img/icoimg.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/setting.css')}}" />
    <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/myLib.js"></script>

    <title>Setting page</title>
</head>
<body>
    <div class="settingRoot">
        
        <table>
            <thead>
                <tr style="text-align:center">
                    <th>User</th><th>Password</th><th>Delete</th>
                </tr>
            </thead>
            <tbody id="urBody">
                {% for item in accessList %}
                    <tr id=i{{item[2]}} style="text-align:center">
                        <td>
                            <input value={{item[0]}} class="ur" />
                        </td>
                        <td>
                            <input value={{item[1]}} class="pd" />
                        </td>
                        <td style="text-align:right">
                            <button class="del" name={{item[2]}} onclick="">-</button>
                        </td>
                    </tr>
                {% endfor %} 
                <tr>
                    <td colspan="3" style="text-align:right">
                        <button id="add">+</button>
                    </td>
                </tr>   
                <tr>
                    <td colspan="3" style="text-align:center">
                        <button id="submit" style="width: 100%;">Submit</button>
                    </td>
                </tr>        
            </tbody>

        </table>


        <a href = "/" id = "returnFirst">   <!-- "/home" -->
            <Button id = "cancelBtn"> Cancel </Button>
        </a>


    </div>

    <script type="text/javascript">  
        // var urlPath_js = 'http://127.0.0.1:5000';
        // var dateHappenTimer;
        
        // const lastRecord = parseInt(window.localStorage.getItem("user"));
        // const initialDateTime = new Date();
        // const intialDateInt = initialDateTime.getTime()
        // const tiemGap = intialDateInt - lastRecord

        // if(tiemGap > 61000){      // 61000 ms  --> 1 minutes 1s
        //     window.location = urlPath_js
        // }else{
        //     dateHappenTimer = setInterval(function(){
        //         let currentDateTime = new Date();
        //         let currentDateStr = currentDateTime.getTime();           
        //         window.localStorage.setItem("user", currentDateStr);    
        //         console.log("22222222222222e - settings");
        //     }, 60000)
        // }

    </script>




    <script type="text/javascript">
        $(function(){
            var urlPath = 'http://127.0.0.1:5000'; 
            var add = $('#add');
            var submit = $('#submit');
            var cancelBtn = $('#cancelBtn');


            // use on to monitor the page, if ther is new item with class "del" come in, bind the click event to the new element automatically.
            $('#urBody').on('click', '.del', function(){
                $("#i"+this.name).remove()
            });

            add.click(function(){
                let itemNum = $('.del').length;
                let newItem = '<tr id=i'+ (itemNum+1).toString() +' style="text-align:center"><td><input class="ur" /></td><td><input class="pd" /></td><td style="text-align:right"><button class="del" name='+ (itemNum+1).toString() +'>-</button></td></tr>';
                $(newItem).appendTo('#urBody');
            });

            submit.click(function(){
                let usersList = [];
                let passwordList = [];
                let usersData = [];
                let itemNums = $('.ur').length;
                for(let i=0; i<itemNums; i++){
                    let urVal = $('.ur').eq(i).val();
                    let pdVal = $('.pd').eq(i).val();
                    if(urVal != "" && pdVal != ""){
                        usersList.push(urVal);
                        passwordList.push(pdVal);
                    }else{
                        alert("Item " + i + " is not completed, please double-check that!");
                    }
                };

                if(usersList.length == itemNums){
                    usersData = $.map(usersList, function(x, i){
                        return ([[x, passwordList[i]]]);   // jquery map will connect all results together with "+" method, so there is double bracket [[]]
                    });
                    $.changeAccess(urlPath, usersData);
                };
                $.logoutCommand(urlPath, "logout")

            });

            cancelBtn.click(function(){
                $.logoutCommand(urlPath, "logout")
            })

        })
    </script>
    
</body>
</html>